@using Ace.Dto
@model UserDto
@{
	Layout = null;
	var roleList = ViewBag.roleList as List<RoleDto>;
}
<style>
	.modal-dialog {
		width: 400px;
	}
</style>
<form action="@Url.Action("ModifyPassword")"  class="form-horizontal">
	@Html.AntiForgeryToken()
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="oldPwd">原密码</label>
		<div class="col-sm-9">
			<input type="password" id="oldPwd" name="oldPwd"  class="col-xs-10">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="newPwd">新密码</label>
		<div class="col-sm-9">
			<input type="password" id="newPwd" name="newPwd"  class="col-xs-10">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="newPwd1">重复新密码</label>
		<div class="col-sm-9">
			<input type="password" id="newPwd1" name="newPwd1"  class="col-xs-10">
		</div>
	</div>
	
</form>

