.nav-list a {
    cursor: pointer;
}

.tab-frame {
    position: absolute;
    border: none;
    width: 100%;
}

.breadcrumbs-fixed {
    position: fixed;
    width: 100%;
    overflow-x: auto;
    z-index: 13;
}

    .breadcrumbs-fixed::-webkit-scrollbar {
        display: none;
    }

#tabHeader .fa-close {
    color: #bbb;
}

    #tabHeader .fa-close:hover {
        color: #777;
    }

#tabMenu {
    width: 140px;
    display: none;
    position: fixed;
    z-index: 14;
}

    #tabMenu i {
        margin-right: 8px;
    }
