@using Ace.Admin.Models;

<ul class="nav nav-list">
    @foreach (MenuTreeModel menu in ViewBag.menuTree)
    {
        <li>
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-@menu.Icon"></i>
                <span class="menu-text">@menu.Name </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                @foreach (MenuTreeModel m in menu.SubMenu)
                {
                    <li>
                        <a class="link" tabId="@m.ID" url="@m.URL" data-link="false">
                            <i class="menu-icon fa fa-angle-right"></i>
                            @m.Name
                        </a>
                        <b class="arrow"></b>
                    </li>
                }
            </ul>
        </li>
    }
</ul><!-- /.nav-list -->