@using Ace.Dto;
@model RoleDto;
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<script>
    function submitData() {
        return {
            url: "@Url.Action("Form")",
            success: function (data) {
                if (data.code != 200) {
                    alert(data.msg);
                    this.close = false;
                }
            }
        };
    }
</script>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form">
                <div class="space"></div>
                <input type="hidden" name="RoleID" value="@Model.RoleID" />
                <div class="form-group">
                    <label class="col-sm-3 control-label">ID</label>
                    <div class="col-sm-9">
                        <input id="txtId" readonly type="text" class="col-sm-10 col-xs-12" />
                        <script>
                            var id = $("form input[name='RoleID']").val();
                            if (id == 0)
                                $("#txtId").val("新增");
                            else
                                $("#txtId").val(id);
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">角色名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="RoleName" value="@Model.RoleName" class="col-sm-10 col-xs-12" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">描述</label>
                    <div class="col-sm-9">
                        <input type="text" name="Description" value="@Model.Description" class="col-sm-10 col-xs-12" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>